body {
  font-family: sans-serif;
  padding: 1em;
}

.message {
	padding: 10px;
	background-color: yellow;
}

form.inline {
  display: inline;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}